{% extends "/frontoffice/base.html.twig" %}

{% block title %}{% endblock %}

{% block content %} 
  <div class="card-header" id="post">
   <h2>{{ post.title }}</h2>
  </div>
  <div class="card-body" id="postcontent">
    <h5 class="card-title"> {{ post.chapo }}</h5>
     <p class="card-text">Date de création: {{ post.text }}</p>
    <p class="card-text">Date de création: {{ post.createdAt | date('d/m/Y')}}</p>
    <p class="card-text"> Dernière modification: {{ post.updateAt | date('d/m/Y')}}</p>
    <p class="card-text"> Auteur: {{ post.id_user}}</p>
    
  </div>
  <div class="card-footer text-muted">
     <section>
        <h3>Commentaires</h3>
        {% if comments %}
            {% for comment in comments %}
                <p> {#{{ comment.id }}<br>#}
                    Auteur : {{ comment.pseudo }}<br>
                    {{ comment.text }}</p>
            {% endfor %}
        {% else %}
            <h4>Aucun commentaires</h4>
        {% endif %}
    </section>
  </div>
</div>
        
{% endblock %}
